.cons_light_feature.layout_five .features-count{
    left: 77px;
    right: unset;
}

.cons-testimonial-layout-left .section-tagline, .cons-testimonial-layout-left .section-title{
    text-align: right;
}